.profile-image img{
    height: 200px;
    width: auto;
    border-radius: 50%;
    float:left;
    

}
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1px;
    margin: 0;
    background-color: white;
    transition: transform 0.2s linear;
}

/* body.dark{
    background-color: black;
    color: black;
} */


  
  .dark-mode {
    background-color: black;
    color: white;
  }
.theme{
    position: absolute;
    top: 30px;
    right: 30px;

}
.header{
    padding-top: 250px;
}
.title{
    font-size: 30px;
    padding-left: 30px;
}
.sub-title{
    font-size: 25px;
    padding-left: 30px;
    text-align: center  ;
}
.label{
    height: 26px;
    width: 50 px;
    border-radius: 50px;
    display: flex;
    background-color: #111;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    position: relative;
    align-items: center;
    cursor: pointer;
}
.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.checkbox{
    opacity: 0;

}

.fa-moon{
    color: orange;
}

.fa-sun{
    color: yellow;
    margin-left: 2px;
}

.contact{
        margin-left: 41%;
}

.details{
    display: flex;
    padding: 7%;
    justify-content: space-around;
}

.ball{
    height: 22px;
    width: 22px;
    background-color:white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transform: translateX(0px);
	transition: transform 0.2s linear;
}

.navbar ul{
    display: flex;
}

ul li{
    margin-left: 10px;
    width: 60px;
    

}