.profile-image img{
    height: 200px;
    width: auto;
    border-radius: 50%;

}

.label{
    height: 50px;
    width: 25px;
    border-radius: 50px;
    display: flex;
    background-color: bisque;
}